/* ------------------
 styling for the tables 
   ------------------   */
 div.cartodb-popup.v2.header div.cartodb-popup-header{
  background:#808080;
 }
 #cyclephillydata {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
th {
    text-align: center;
    font-weight: normal;
}  
#cyclephillydata .hiconeven{
  border: 1px solid black;
}
   
#cyclephillydata .hiconodd{
  border: 1px solid black;
}
 #cyclephillydata .odd {
  background: #E5E5E5; 
  border-right: 1px solid #808080;
}
#cyclephillydata .even {
 border-right: 1px solid #808080;
}
#cyclephillydata .odd th { 
  padding: 4px;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
}
 #cyclephillydata .odd td {
  border: 1px solid #808080;
  padding: 2px; 
}
 #cyclephillydata .even th { 
  padding: 4px;
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  border-left: 1px solid #808080;
}
 #cyclephillydata .even td {
  border: 1px solid #808080;
  padding: 2px;
}


